*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #242525;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3c3e44;
    border-radius: 20px;
    border: 1px solid #242525;
  }
}

body {
  background-color: #000;
  color:#fff;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.global-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}